.auth-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    height: 5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
  }
  
  .auth-logo {
    width: 180px;
    height: 60px;
  }